NEXT_PUBLIC_API_ENDPOINT=your_api_endpoint
NEXT_PUBLIC_KNOCK_PUBLIC_API_KEY=your_knock_public_api_key
NEXT_PUBLIC_KNOCK_FEED_CHANNEL_ID=your_knock_feed_channel_id
NEXT_PUBLIC_CAL_COM_BOOKING_URL=your_cal_com_booking_urlc